@value makerWhite, makerGreen from '/src/common/colors.css';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 50%;
  background-color: makerGreen;
  color: makerWhite;
  font-weight: bold;
  padding: 0.5em;
  font-size: 0.8rem;
}
