@value makerGreen from '/src/common/colors.css';

.preview {
  flex: 1 1 50%;
}

.title {
  width: 100%;
  margin: 1em 0;
  text-align: center;
  color: makerGreen;
}

.cards {
  width: 100%;
  height: 100%;
  padding: 0.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
