@value makerWhite from '/src/common/colors.css';
@value mediaQuery from '/src/common/size.css';

.maker {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: makerWhite;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
